:host {
  .menu-list {
    list-style-type: none;
    .menu-item {
      color: var(--text-muted);
      font-weight: 500;
      transition: color 0.3s ease;
      padding: 10px 0 10px 20px;
      &::first-letter {
        text-transform: uppercase;
      }
      &:hover {
        color: var(--text-primary);
        cursor: pointer;
      }
    }
    .menu-item.active {
      color: var(--text-primary);
    }
  }
}

:host-context(.web) {
  :host {
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
  }
  .menu-list {
    display: flex;
    gap: 1.5rem;
    .menu-item {
      padding: 0;
    }
  }
}

:host-context(.tablet),
:host-context(.mobile) {
  :host {
    position: fixed;
    z-index: 1;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20%;
    min-width: 250px;
    background-color: var(--secondary-accent);
    .side-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 16px;
    }
  }
}
