<div class="hero-content">
  <h1>Hi, I'm <span class="highlight">Aravinth</span></h1>
  <h2>Aspiring Frontend Developer</h2>
  <p>
    Passionate about building responsive and user-friendly web applications
    using modern technologies like Angular, HTML, CSS, and JavaScript.
  </p>
  <button type="button" class="primary-btn" (click)="openPDF()">Resume</button>
  <i
    class="fa-solid fa-arrow-down icon-btn"
    (click)="downArrowBtn('about')"
  ></i>
</div>

@if (!deviceType().mobile) {
<img src="./assets/images/program.png" alt="Program Image" />
}
