:host {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-accent);
  .content {
    padding: 20px 10px;
    p {
      text-align: center;
      &:first-child {
        margin-bottom: 5px;
        font-size: clamp(0.8rem, 2.5vw, 0.9rem);
      }
      &:last-child {
        font-size: clamp(0.6rem, 2.5vw, 0.7rem);
      }
    }
  }
}
